@import url('https://fonts.googleapis.com/css?family=Roboto');

/*-- BASICS --*/

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Roboto", sans-serif;
    color: #777;
}

header {
    position: fixed;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #ef8319;
    letter-spacing: 0.375em;
}

h3 {
    font-weight: bold;
    color: #ef8319;
}

p {
    text-align: center;
}

dfn, abbr {
    font-weight: bold;

}

code {
    font-weight: bold;
}

ul, li {
    text-align: center;
    list-style-position: inside;
}

a {
    color: #ef8319;
    font-weight: bold;
}
/*-- TEXT CLASSES--*/

article {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 0.625em 5em;

}

section {
    position: relative;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: 0.625em 5em;
}



/*-- IMAGE CLASSES --*/

.img-1, .img-2, .img-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url("../img/coding.jpeg");
    min-height: 100%;
}

.img-2 {
    background-image: url("../img/homework.jpeg");
    min-height: 30%;
}

.img-3 {
    background-image: url("../img/agenda.jpeg");
    min-height: 50%;
}

.caption-img-1 {
    position: absolute;

    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption-img-3 {
    position: absolute;

    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption-img-1 span.border {
    background-color: #ef8319;
    color: #fff;
    padding: 1.125em;
    font-size: 25px;
}

/*-- TABLE --*/

.tg {
    padding-top: 5%;
    padding-bottom: 20%;

    margin-left: 25%;

    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    font-weight: normal;
    width: 50%;
}

.tg td {
    padding: 0.625em 0.833em;
    border-style: solid;
    border-width: thin;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    padding: 0.625em 0.833em;
    border-style: solid;
    border-width: thin;
    overflow: hidden;
    word-break: normal;
    font-weight: normal;
}

.tg .important {
    font-weight: bold;
    background-color: #fd6864;
    vertical-align: top
}

/*-- FOOTER --*/


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .img-1, .img-2, .img-3 {
        background-attachment: scroll;
    }
}